@model Assignment_2.Models.student

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>student</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.student_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.student_id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.student_first_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.student_first_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.student_last_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.student_last_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.photo)
        </dt>
        <dd>
            <img src="@Url.Content(@Model.photo)" height="40" width="40" />  
        </dd>
        <dt>
            
        </dt>
        <dd>
            @Html.DisplayFor(model => model.photo)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
